<div class="container min-vh-100 d-flex justify-content-center align-items-center">
  <div class="form-box w-100 p-4">
    <h2 class="text-center mb-4">CADASTRO DE TIME</h2>

    <form (ngSubmit)="registerTeam()">
      <div class="row mb-3">
        <label class="col-sm-4 col-form-label">Nome do time</label>
        <div class="col-sm-8">
          <input [(ngModel)]="teamName" name="teamName" class="form-control" required>
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-sm-4 col-form-label">Logo</label>
        <div class="col-sm-8">
          <input type="file" (change)="onLogoSelected($event)" class="form-control" required>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <button type="submit" class="btn btn-primary w-100">Cadastrar</button>
        </div>
      </div>
    </form>
  </div>
</div>
